html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* aligns the sketch horizontally*/
  justify-content: center;

  /* aligns the sketch vertically */
  align-items: center;
   background: black;
}
canvas {

  border: 2px solid #fff;
/*  add border around canvas*/
}